body {




 background:white;




}




.nav {

   padding:5px 5px 5px 5px;

   background: #cce6ff; 

   text-align: center; 

   border-radius: 25px;

   border-spacing: 10px;

}




div ul li { 

   

   display: inline; 

} 




a {




text-decoration:none;

font-size: 20px;

color:green;

font-family:cursive;




}




a:hover {




color:blue;




}


.box {

 height:250px;
 width:250px;
 border:blue 2px dashed;
 background-color:#ebebe0;

}



p {
 
font-size:75px;
font-family:andy;
text-align:center;
color:#663300;
margin-bottom:50px;




}


 