#pp {

color: green;
text-align:center;


}


.top {

color:grey;
text-align:center;


}


.about {

font-size:20px;
font-family:san-serif;


}


.pic {

border:2px solid black;position:absolute;margin-left:210px;

}

