#pp {

color: green;
text-align:center;


}


.top {

color:grey;
text-align:center;


}


.about {

font-size:20px;
font-family:san-serif;


}


.pic {

border:2px solid black; display:flex;

}
.buybutton {margin-left:100px;}

